<style>
.div-table {
    display: table;         
    width: auto;         
    background-color: #dae290;         
    border: 1px solid #bdc6eb;         
    border-spacing: 5px; /* cellspacing:poor IE support for  this */
  }
  .div-table-row {
    display: table-row;
    width: auto;
    clear: both;
  }
  .div-table-col {
    float: left; /* fix for  buggy browsers */
    display: table-cell;         
    width: 200px;         
    background-color: #e1dbe6;  
  }
</style>
<body>
  <form id="form1">
      <div class="div-table">
              <div class="div-table-row">
                <div class="div-table-col" align="center">Customer ID</div>
                <div  class="div-table-col">Customer Name</div>
                <div  class="div-table-col">Customer Address</div>
              </div>
            <div class="div-table-row">
                  <div class="div-table-col">001</div>
                <div class="div-table-col">002</div>
                <div class="div-table-col">003</div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">xxx</div>
                <div class="div-table-col">yyy</div>
                <div class="div-table-col">www</div>
            </div>
            <div class="div-table-row">
                <div class="div-table-col">ttt</div>
                <div class="div-table-col">uuu</div>
                <div class="div-table-col">Mkkk</div>
            </div>

      </div>
  </form>
</body>